[Unit]
Description= Kibblepi - Web server - automatic start
After=multi-use.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/kibblepi/pi_server/pi_server/__main__.py
User=pi

[Install]
WantedBy=multi-user.target